header{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;

}
th{
    border: 2px solid black;
    padding: 10px;
}

table{
    margin: 300px;
    margin-top: 10px;
    /* border-collapse: collapse; */
    margin-bottom: 5px;

    margin-left: 50 px;
    table-layout: auto;
    
}
h1{
    color: crimson;
    

}


thead th{
    color: crimson;
    background-color: Black;
    font-size: 115%;
}
tbody th{
    color:white ;
    background-color: black;
    font-size: 115%;

}
header{
    margin-top: 10px;
}

div{
    display: flex;
    justify-content: center;
}
img{
    float: right;
    display: flex;
    border: 2px solid black;
    background-size: contain;
    margin-bottom: 20px;
}
h1{
    text-align: center;
}
th{

    padding: 5px;
}
th:hover{
    background-color: white;
    color: crimson;

}
td:hover{
    color: white;
    background-color: black;
    align-items: center;
    content: center;
}
td{

    padding: 5px;
}